:host {
  .buttons {
    display: flex;
    gap: 0.3lh;

    button {
      display: inline-flex;
      gap: 0.15lh;
      padding: 0.3lh 0.3lh;
      min-height: 0;
      font-size: 0.8em;

      svg {
        --icon-size: 0.9lh;
        width: var(--icon-size);
        height: var(--icon-size);
      }
    }
  }

  .emoji-container {
    text-wrap: auto;

    .cat {
      font-size: 1.5em;
    }
  }
}
