:host {
  .buttons {
    display: flex;
    gap: calc(1 * var(--unit));

    button {
      display: inline-flex;
      gap: calc(0.8 * var(--unit));
      padding: calc(0.5 * var(--unit)) calc(1 * var(--unit));
      min-height: 0;
      font-size: 0.8em;

      svg {
        --icon-size: calc(2 * var(--unit));
        width: var(--icon-size);
        height: var(--icon-size);
      }
    }
  }

  .emoji-container {
    margin-top: calc(2 * var(--unit));
    text-wrap: auto;

    .cat {
      font-size: 1.5em;
    }
  }
}
